.gm-style .gm-style-cc span,
.gm-style .gm-style-cc a,
.gm-style .gm-style-mtc div {
	font-size: 10px
}

@media print {
	.gm-style .gmnoprint,
	.gmnoprint {
		display: none
	}
}

@media screen {
	.gm-style .gmnoscreen,
	.gmnoscreen {
		display: none
	}
}

.gm-style {
	font: 400 11px Roboto, Arial, sans-serif;
	text-decoration: none;
}

.gm-style img {
	max-width: none;
}

.gm-style-pbc {
	transition: opacity ease-in-out;
	background-color: rgba(0, 0, 0, 0.45);
	text-align: center
}

.gm-style-pbt {
	font-size: 22px;
	color: white;
	font-family: Roboto, Arial, sans-serif;
	position: relative;
	margin: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}

@font-face {
	font-family: futura-pt;
	src: url(https://use.typekit.net/af/5da6f6/000000000000000000010096/27/l?subset_id=2&fvd=n3&v=3) format("woff2"), url(https://use.typekit.net/af/5da6f6/000000000000000000010096/27/d?subset_id=2&fvd=n3&v=3) format("woff"), url(https://use.typekit.net/af/5da6f6/000000000000000000010096/27/a?subset_id=2&fvd=n3&v=3) format("opentype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: futura-pt;
	src: url(https://use.typekit.net/af/3d72b8/000000000000000000010093/27/l?subset_id=2&fvd=i3&v=3) format("woff2"), url(https://use.typekit.net/af/3d72b8/000000000000000000010093/27/d?subset_id=2&fvd=i3&v=3) format("woff"), url(https://use.typekit.net/af/3d72b8/000000000000000000010093/27/a?subset_id=2&fvd=i3&v=3) format("opentype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: futura-pt;
	src: url(https://use.typekit.net/af/3489f3/000000000000000000013365/27/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/3489f3/000000000000000000013365/27/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/3489f3/000000000000000000013365/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: futura-pt;
	src: url(https://use.typekit.net/af/3ba171/000000000000000000010095/27/l?subset_id=2&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/3ba171/000000000000000000010095/27/d?subset_id=2&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/3ba171/000000000000000000010095/27/a?subset_id=2&fvd=i4&v=3) format("opentype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: futura-pt;
	src: url(https://use.typekit.net/af/069586/00000000000000000001008f/27/l?subset_id=2&fvd=n5&v=3) format("woff2"), url(https://use.typekit.net/af/069586/00000000000000000001008f/27/d?subset_id=2&fvd=n5&v=3) format("woff"), url(https://use.typekit.net/af/069586/00000000000000000001008f/27/a?subset_id=2&fvd=n5&v=3) format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: futura-pt;
	src: url(https://use.typekit.net/af/0da7c3/000000000000000000010090/27/l?subset_id=2&fvd=i5&v=3) format("woff2"), url(https://use.typekit.net/af/0da7c3/000000000000000000010090/27/d?subset_id=2&fvd=i5&v=3) format("woff"), url(https://use.typekit.net/af/0da7c3/000000000000000000010090/27/a?subset_id=2&fvd=i5&v=3) format("opentype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: futura-pt;
	src: url(https://use.typekit.net/af/e9d809/000000000000000000010091/27/l?subset_id=2&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/e9d809/000000000000000000010091/27/d?subset_id=2&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/e9d809/000000000000000000010091/27/a?subset_id=2&fvd=n7&v=3) format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: futura-pt;
	src: url(https://use.typekit.net/af/8906d7/000000000000000000010092/27/l?subset_id=2&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/8906d7/000000000000000000010092/27/d?subset_id=2&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/8906d7/000000000000000000010092/27/a?subset_id=2&fvd=i7&v=3) format("opentype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: futura-pt;
	src: url(https://use.typekit.net/af/c0bbc1/000000000000000000010097/27/l?subset_id=2&fvd=n8&v=3) format("woff2"), url(https://use.typekit.net/af/c0bbc1/000000000000000000010097/27/d?subset_id=2&fvd=n8&v=3) format("woff"), url(https://use.typekit.net/af/c0bbc1/000000000000000000010097/27/a?subset_id=2&fvd=n8&v=3) format("opentype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: futura-pt;
	src: url(https://use.typekit.net/af/1787d8/000000000000000000010098/27/l?subset_id=2&fvd=i8&v=3) format("woff2"), url(https://use.typekit.net/af/1787d8/000000000000000000010098/27/d?subset_id=2&fvd=i8&v=3) format("woff"), url(https://use.typekit.net/af/1787d8/000000000000000000010098/27/a?subset_id=2&fvd=i8&v=3) format("opentype");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: europa;
	src: url(https://use.typekit.net/af/6d1319/00000000000000003b9afa18/27/l?subset_id=2&fvd=n3&v=3) format("woff2"), url(https://use.typekit.net/af/6d1319/00000000000000003b9afa18/27/d?subset_id=2&fvd=n3&v=3) format("woff"), url(https://use.typekit.net/af/6d1319/00000000000000003b9afa18/27/a?subset_id=2&fvd=n3&v=3) format("opentype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: europa;
	src: url(https://use.typekit.net/af/bdc804/00000000000000003b9afa17/27/l?subset_id=2&fvd=i3&v=3) format("woff2"), url(https://use.typekit.net/af/bdc804/00000000000000003b9afa17/27/d?subset_id=2&fvd=i3&v=3) format("woff"), url(https://use.typekit.net/af/bdc804/00000000000000003b9afa17/27/a?subset_id=2&fvd=i3&v=3) format("opentype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: europa;
	src: url(https://use.typekit.net/af/138261/00000000000000003b9afa19/27/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/138261/00000000000000003b9afa19/27/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/138261/00000000000000003b9afa19/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: europa;
	src: url(https://use.typekit.net/af/5efafd/00000000000000003b9afa1a/27/l?subset_id=2&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/5efafd/00000000000000003b9afa1a/27/d?subset_id=2&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/5efafd/00000000000000003b9afa1a/27/a?subset_id=2&fvd=i4&v=3) format("opentype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: europa;
	src: url(https://use.typekit.net/af/4686e2/00000000000000003b9afa16/27/l?subset_id=2&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/4686e2/00000000000000003b9afa16/27/d?subset_id=2&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/4686e2/00000000000000003b9afa16/27/a?subset_id=2&fvd=n7&v=3) format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: europa;
	src: url(https://use.typekit.net/af/43b012/00000000000000003b9afa15/27/l?subset_id=2&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/43b012/00000000000000003b9afa15/27/d?subset_id=2&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/43b012/00000000000000003b9afa15/27/a?subset_id=2&fvd=i7&v=3) format("opentype");
	font-weight: 700;
	font-style: italic;
}

@-webkit-keyframes _gm1230 {
			0% {
				-webkit-transform: translate3d(0px, -500px, 0);
				-webkit-animation-timing-function: ease-in;
			}
			50% {
				-webkit-transform: translate3d(0px, 0px, 0);
				-webkit-animation-timing-function: ease-out;
			}
			75% {
				-webkit-transform: translate3d(0px, -20px, 0);
				-webkit-animation-timing-function: ease-in;
			}
			100% {
				-webkit-transform: translate3d(0px, 0px, 0);
				-webkit-animation-timing-function: ease-out;
			}
		}

@media only screen and (min-width: 870px) {
	#googleMap{
/*		margin-left: 100px;*/
	}
}
@media only screen and (min-width: 800px) {
	#googleMap{
/*		margin-left: 10px;*/
	}
}
@media only screen and (min-width: 600px) {
	#googleMap{
/*		margin-left: 60px;*/
	}
}
@media only screen and (min-width: 300px) {
	#googleMap{
/*		margin-left: 30px;*/
	}
}



.collection{
	display:none !important;
/*visibility: hidden;*/
}
